---
import { formatDate } from '@/lib/utilities';

const {
  author = '',
  publishDate = '',
  editedDate = ''
} = Astro.props;
---

<ul class="hct-postmeta">
  <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <rect width="18" height="18" x="3" y="4" rx="2" ry="2"/><line x1="16" x2="16" y1="2" y2="6"/><line x1="8" x2="8" y1="2" y2="6"/><line x1="3" x2="21" y1="10" y2="10"/><path d="M8 14h.01"/><path d="M12 14h.01"/><path d="M16 14h.01"/><path d="M8 18h.01"/><path d="M12 18h.01"/><path d="M16 18h.01"/></svg>
    <span>{formatDate(publishDate)}</span>
  </li>
  <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>
    <span>{author.data.name}</span>, <span>{author.data.title}</span>
  </li>
</ul>

<style>
.hct-postmeta {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    font-size: var(--font-size-xs);
    color: var(--slate-10);
    margin: 0 0 0.5rem;
  }

  span + span {
    display: inline-block;
    margin-left: 4px;
  }

  svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
  }
}
</style>

