---
import { ViewTransitions } from 'astro:transitions';

interface SEOProps {
  title: string;
  description: string;
  noIndex: boolean;
}

interface Props {
  seo?: SEOProps;
}

const defaultSEO = {
  title: 'HubSpot CMS Tutorials',
  description: '',
};

const { seo: seoOptions = {} } = Astro.props;

const seo = {
  ...defaultSEO,
  ...seoOptions,
};
---

<head>
  <meta charset="UTF-8" />
  <title>{seo.title}</title>
  <meta name="description" content={seo.description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,800;1,9..40,400&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <meta name="generator" content={Astro.generator} />
  <ViewTransitions />
</head>